<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hf.project.common.mapper.common.MaterialMapper">

    <select id="query" parameterType="java.util.List" resultMap="MaterialMap">
        SELECT
        A.iID,
        A.uGUID,
        A.sDtlMaterialCode,
        b.sMaterialName,
        b.sWidth,
        b.sMaterialModel,
        c.sNCUnit,
        b.bUsable,
        b.sMaterialType localType,
        b.iPoUnitId,
        CONVERT(VARCHAR(10),A.iID) sMaterialType
        FROM dbo.mmMaterialDtl A WITH (NOLOCK)
        JOIN dbo.mmMaterialMst b  WITH(NOLOCK) ON A.iMaterialMstId = b.iID
        JOIN dbo.cuUnit c (NOLOCK) ON b.iPoUnitId = c.iID
        WHERE A.sDtlMaterialCode IN
        <foreach collection="list" index="index" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="querySingle" parameterType="java.lang.String" resultMap="MaterialMap">
        SELECT
        A.iID,
        A.uGUID,
        A.sDtlMaterialCode,
        b.sMaterialName,
        b.sWidth,
        b.sMaterialModel,
        c.sNCUnit,
        b.bUsable,
        b.sMaterialType localType,
        b.iPoUnitId,
        CONVERT(VARCHAR(10),A.iID) sMaterialType
        FROM dbo.mmMaterialDtl A WITH (NOLOCK)
        JOIN dbo.mmMaterialMst b WITH(NOLOCK) ON A.iMaterialMstId = b.iID
        JOIN dbo.cuUnit c (NOLOCK) ON b.iPoUnitId = c.iID
        WHERE A.sDtlMaterialCode = #{billCode}
    </select>

    <select id="queryAllMaterialNo" resultType="java.lang.String">
        SELECT
        A.sDtlMaterialCode
        FROM dbo.mmMaterialDtl A WITH (NOLOCK)
        JOIN dbo.mmMaterialMst b WITH(NOLOCK) ON A.iMaterialMstId = b.iID
    </select>

    <resultMap id="MaterialMap" type="Material">
        <id column="iID" jdbcType="VARCHAR" property="id"/>
        <result column="uGUID" jdbcType="VARCHAR" property="iid" />
        <result column="sDtlMaterialCode" jdbcType="VARCHAR" property="code" />
        <result column="sMaterialName" jdbcType="VARCHAR" property="name" />
        <result column="sNCUnit" jdbcType="VARCHAR" property="measdoc" />
        <result column="sMaterialModel" jdbcType="VARCHAR" property="materialSpec" />
        <result column="sWidth" jdbcType="VARCHAR" property="unitWidth" />
        <result column="sMaterialType" jdbcType="VARCHAR" property="materialType" />
        <result column="iPoUnitId" jdbcType="VARCHAR" property="unit" />
        <result column="sgmm" jdbcType="VARCHAR" property="gmm" />
        <result column="localType" jdbcType="VARCHAR" property="localType" />
    </resultMap>

</mapper>
