<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hf.project.common.mapper.datadict.InvoiceTypeMapper">

    <select id="query" parameterType="java.lang.String" resultMap="InvoiceTypeMap">
        SELECT
        TOP 1
        uGUID,
        sValueCode,
        sValueName,
        sNCValue
        FROM dbo.pbDataDictionary WITH(NOLOCK)
        WHERE sTypeCode != 'SysDic' AND sTypeCode = 'InvoiceType'
        AND sNCValue = #{NCCode}
    </select>

    <resultMap id="InvoiceTypeMap" type="BaseData">
        <id column="uGUID" jdbcType="VARCHAR" property="id"/>
        <result column="sValueCode" jdbcType="VARCHAR" property="code"/>
        <result column="sValueName" jdbcType="VARCHAR" property="name" />
        <result column="sNCValue" jdbcType="VARCHAR" property="NCCode" />
    </resultMap>

    <insert id="insert" parameterType="BaseData">
        INSERT INTO dbo.pbDataDictionary
        (sTypeCode,sValueCode,sValueName,sNCValue,sFunctionModule,bIsSystem,bUsable,sCreator,tCreateTime,sUpdateMan,tUpdateTime)
        VALUES('InvoiceType',#{code},#{name},#{NCCode},'财务管理类',1,1,'cttsoft',GETDATE(),'cttsoft',GETDATE())
    </insert>

</mapper>
