<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body style="color: #666; font-size: 14px; font-family: 'Open Sans',Helvetica,Arial,sans-serif;">
    <div class="box-content" style="width: 80%; margin: 20px auto; max-width: 800px; min-width: 600px;">
        <div class="info-top" style="padding: 15px 25px;
                                     border-top-left-radius: 10px;
                                     border-top-right-radius: 10px;
                                     background: rgb(155, 142, 143);
                                     color: #fff;
                                     overflow: hidden;
                                     line-height: 32px;">
            <div style="color:#010e07"><strong th:text="${title}"></strong></div>
        </div>
        <div class="info-wrap" style="border-bottom-left-radius: 10px;
                                      border-bottom-right-radius: 10px;
                                      border:1px solid #ddd;
                                      overflow: hidden;
                                      padding: 15px 15px 20px;">
            <div class="tips" style="padding:15px;">
                <p style="margin: 10px 0;">Hi</p>
                <br>
                <p style="margin: 10px 0;" th:text="'单号' + ${messageNos} + '上传到采购云失败了'"></p>
                <br>
                <p style="margin: 10px 0;" th:text="'失败原因：' + ${errorMessage}"></p>
            </div>
            <div class="time" style="text-align: right; color: #999; padding: 0 15px 15px;" th:text="'失败时间：' + ${failTime}"></div>
        </div>
    </div>
</body>
